<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Soundboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.createjs.com/1.0.0/soundjs.min.js"></script>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <script>
      const sounds = [
          <% data.sounds.each do |sound| %>
          {src: "<%= sound.file %>", id: '<%= sound.file %>'},
          <% end %>
      ]
    </script>
  </head>
  <body onload="init(sounds);">
    <%= yield %>
  </body>
</html>
